To,
The Officer-in-Charge,
{{ police_station }},
{{ station_address }}

Subject: Filing of an FIR regarding {{ incident_type }}

Respected Sir/Madam,

I, {{ complainant_name }}, S/o/D/o {{ parent_name }}, residing at {{ complainant_address }}, wish to lodge a complaint regarding the following incident:

Date & Time: {{ incident_date_time }}  
Location: {{ incident_location }}  
Incident Description:  
{{ incident_description }}

I request you to kindly register this complaint as an FIR and take necessary legal action. I am ready to cooperate fully in the investigation process.

Thank you.

Sincerely,  
{{ complainant_name }}  
Contact: {{ complainant_contact }}  
Date: {{ submission_date }}
