To,  
The Public Information Officer,  
{{ department_name }},  
{{ department_address }}

Subject: Request for Information under RTI Act, 2005

Respected Sir/Madam,

I, {{ applicant_name }}, S/o/D/o {{ parent_name }}, residing at {{ applicant_address }}, hereby seek the following information under the Right to Information Act, 2005:

{{ information_requested }}

Details of Application:
- Period Concerned: {{ period }}
- Preferred Format: {{ preferred_format }}

I am enclosing an application fee of ₹10 as per the RTI rules.

Please send the information to my contact address or email: {{ applicant_contact }}

Sincerely,  
{{ applicant_name }}  
Date: {{ date }}
